/* ----------------------------------- *\
			content styles
\* ----------------------------------- */
.items-partners-box {
	display: block;
	position: relative;
	&:before {
		content: "";
		display: block;
		padding-top: 38%;
	}
	.item-photo {
		position: absolute;
		top: 50%;left: 50%;
		transform: translate(-50%, -50%);
		width: 200px;
		z-index: 5;
		overflow: hidden;
		line-height: 1;
		img {
			display: block;
			width: 100%;
		}
	}
	.item04 {
		width: 20.2%;
		top: 44%;left: 16%;
	}
	.item05 {
		width: 21.8%;
		left: 39%;top: 35%;
	}
	.item06 {
		width: 51.9%;
		top: 32%;left: 72%;
	}
	.main-logo {
		width: 67.7%;
		top: 86%;left: 49%;
	}
	.star-yellow {
		width: 43%;
		top: 40%;left: 18%;
		z-index: 2;
	}
	.star-white {
		z-index: 3;
		width: 50%;
		left: 43%;
		z-index: 2;
		top: auto;
		bottom: -40%;
		height: 75%;
	}
	.star-violet {
		width: 105%;
		left: 70%;
		z-index: 1;
		top: auto;
		bottom: -85%;
		height: 170%;
	}
}
.items-box {
	display: block;
	position: relative;
	&:before {
		content: "";
		display: block;
		padding-top: 67%;
	}
	.item-photo {
		position: absolute;
		top: 50%;left: 50%;
		transform: translate(-50%, -50%);
		width: 200px;
		z-index: 5;
		overflow: hidden;
		line-height: 1;
		img {
			display: block;
			width: 100%;
		}
	}
	.item01 {
		width: 17.5%;
		left: 13%;top: 42%;
	}
	.item02 {
		width: 46.2%;
		left: 52%;top: 40%;
	}
	.item03 {
		width: 39.9%;
		top: 58%;left: 96%;
	}
	.main-left {
		width: 19.5%;
		top: 56%;left: 25%;
	}
	.main-right {
		width: 11.9%;
		left: 82%;top: 62%;
	}
	.main-logo {
		width: 67.3%;
		top: 82%;left: 50%;
	}
	.star-white {
		width: 54%;
		top: 33%;left: 14%;
		z-index: 2;
	}
	.star-yellow {
		width: 40%;
		top: 27%;left: 83.4%;
		z-index: 2;
	}
	.star-violet {
		width: 105%;
		top: 48%;left: 50%;
		z-index: 1;
	}
}
.tiles-box {
	margin: 0 auto 20px auto;
	max-width: 962px;
	padding-bottom: 20px;
	position: relative;
	z-index: 6;
	&:last-child {
		margin-bottom: 0;
	}
	.items-wrap {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -8px;
		gap: 16px 0;
	}
	.item-wrap {
		padding: 0 8px;
		width: 33.33%;
		margin: 0;
	}
}
.action-box {
	margin: 0 auto;
	max-width: 960px;
	display: flex;
	margin-bottom: 4rem;
	.photo-inner-wrap {
		width: 63%;
		flex-shrink: 0;
		position: relative;
		z-index: 3;
	}
	.info-inner-wrap {
		flex: 1;
		padding-left: 5rem;
		font-size: 3.17rem;;
		color: #fff;
		text-transform: uppercase;
		line-height: (28/31.7);
		position: relative;
		z-index: 2;
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: relative;
		&:before {
			content: "";
			display: block;
			aspect-ratio: 1059/901;
			width: 298%;
			position: absolute;
			top: 50%;left: 50%;
			transform: translate(-52%, -50%);
			background: url(../img/star-violet.png) center no-repeat;
			background-size: 100% auto;
			z-index: -1;
		}
	}
	.section-title {
		font-size: (70.7/31.7em);
		font-weight: 500;
		color: #bff800;
		margin: 0 0 0.3em 0;
		line-height: (63/70.7);
	}
	.elm-photo {
		aspect-ratio: 607/337;
		border-radius: 3.5rem;
	}
}
.section-questions-box {
	position: relative;
	padding: 3rem 0;
	.items-inner-wrap {
		margin: 0 auto;
		max-width: 680px;
	}
	.items-wrap {
		margin: 0;
	}
	.item-wrap {
		padding: 0;
		width: 100%;
		margin-bottom: 16px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}
.section-map-box {
	position: relative;
	padding: 4.8rem 0 3rem 0;
	.map-inner-wrap {
		height: 53.2rem;
		border-radius: 9.8rem;
		margin: 0 auto;
		max-width: 913px;
		background-color: #ffffff;
	}
	.title-inner-wrap {
		margin-bottom: 3rem;
	}
	
	
}
.section-tiles-box {
	position: relative;
	.slider-inner-wrap {
		margin: 0 auto;
		max-width: 930px;
	}
	.slider-pagination {
		display: none;
		padding-top: 20px;
		padding-bottom: 10px;
	}
	.ico-arrow-prev {
		margin-left: -15px;
	}
	.ico-arrow-next {
		margin-right: -15px;
	}
	.slider-partners {
		padding-bottom: 3rem;
	}
	.item-tile-catalog {
		margin-top: 0;
		min-height: 0;
		&+.item-tile-catalog {
			margin-top: 4rem;
		}
	}
	.box-inner-wrap {
		padding: 3rem 0 8rem 0;
	}
	.title-inner-wrap {
		margin-bottom: 1.5rem;
	}
	.slider-wrap {
		overflow: visible;
		padding: 0 4rem;
	}
	&:has(.more-inner-wrap:last-child) {
		.box-inner-wrap {
			padding-bottom: 3rem;
		}
	}
}
.section-slider-box {
	position: relative;
	width: 100vw;
	left: 50%;
	transform: translateX(-50%);
	min-width: var(--min);
	overflow: hidden;
	.slider-inner-wrap {
		position: relative;
		z-index: 4;
	}
	.slider-collections {
		.swiper-wrapper {
			transition-timing-function: linear !important;
			overflow: visible;
		}
		.slider-wrap {
			overflow: visible;
		}
		.sl-wrap {
			width: 24.2rem;
			padding: 0 1rem;

		}
	}
	.slider-photos {
		.elm-photo {
			aspect-ratio: 300/211;
			border-radius: 3.5rem;
		}
		.slider-wrap {
			margin: 0 -8px;
		}
		.sl-wrap {
			width: 316px;
			padding: 0 8px;
		}
	}
	.box-inner-wrap {
		padding: 2rem var(--paddingContainer);
		position: relative;
		&.bg-stars {
			z-index: 2;
			&:before, &:after {
				content: "";
				display: block;
				aspect-ratio: 557/475;
				background: url(../img/star-white.png) center no-repeat;
				background-size: 100% auto;
				z-index: -1;
				width: 36.6%;
				position: absolute;
				top: 15%;left: 24%;
				transform: translate(-50%, -50%) rotate(-10deg);
				z-index: -1;
				transform-origin: center center;;
			}
			&:after {
				width: 21.8%;
				top: 89%;
				left: 26%;
				transform: translate(-50%, -50%) rotate(10deg);
			}
		}
	}
	.slider-wrap {
		overflow: visible;
	}
	.action-box {
		margin-top: 30px;
	}
}
.section-main-box {
	position: relative;
	&+.section-tiles-box {
		.box-inner-wrap {
			padding-top: 7rem;
		}
	}
	&:has(.slider-outer-wrap) {
		padding-bottom: 5.5rem;
	}
	.box-inner-wrap {
		position: relative;
	}
	
	.menu-inner-wrap {
		position: relative;
		z-index: 7;
		font-size: 4rem;
		line-height: 1.8;
		font-weight: bold;
		text-transform: uppercase;
		color: #fff;
		margin-bottom: 10px;
		padding-top: 10px;
	}
	.menu {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin: 0 -1.2rem;
		padding: 1.6rem 0;
		li {
			flex-shrink: 0;
			max-width: 100%;
		}
	}
	.btn-menu {
		display: block;
		position: relative;
		overflow: hidden;
		padding: 0 2rem;
		color: inherit;
		text-shadow: 2.723px 4.193px 13.76px rgba(7, 9, 10, 0.5);
		white-space: nowrap;
		overflow: hidden;
		text-shadow: 0 5px 14px fade(#07090a, 50);
		line-height: 1;
		&:hover, &.active {
			text-shadow: 2.723px 4.193px 13.76px rgba(7, 9, 10, 0.5);
			color: inherit;
			&:before {
				opacity: 1;
			}
		}
		&:before {
			content: "";
			display: block;
			position: absolute;
			bottom: 0;left: 1.9rem;right: 1.9rem;
			height: 2px;
			background: #fff;
			transition: all ease 0.2s;
			box-shadow: 2.723px 4.193px 13.76px rgba(7, 9, 10, 0.5);
			opacity: 0;
		}
	}
	.slider-inner-wrap {
		max-width: 860px;
		margin-left: auto;
		margin-right: auto;
	}
	.ico-arrow-prev {
		margin-left: -15px;
	}
	.ico-arrow-next {
		margin-right: -15px;
	}
}
.box-inner-wrap {
	position: relative;
	z-index: 2;
}
.bg-full-wrap {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	width: 100dvw;
	min-width: var(--min);
	transform: translateX(-50%);
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	&.bg-shadow {
		box-shadow: inset 0px 6px 14.49px 6.51px rgba(0, 0, 0, 0.43);
		
	}
	&.bg-pink {
		background-color: #f0e1f3;
	}
	&.bg-violet {
		background: #9d2cb4 url(../img/bg-d.jpg) center no-repeat;
		background-size: cover;
		&~.box-inner-wrap {
			color: #fff;
		}
	}
	&.bg-yellow {
		background-color: #ffd412;
	}
	&.bg-green {
		background-color: #bff800;
	}
}
.header-box {
	position: relative;
	z-index: 3;
	display: flex;
	align-items: flex-end;
	padding: 4rem 0 4rem 0;
	justify-content: space-between;
	.logos-inner-wrap {
		flex: 1;
		padding-right: 0rem;
		min-height: 10px;
		max-width: 850px;
		padding-bottom: 0.8rem;
	}
	.action-inner-wrap {
		flex-shrink: 0;
		min-height: 10px;
		padding-right: 3rem;
		margin-left: 2rem;
	}
	.bg-full-wrap {
		background: #f0e1f3;
	}
	.btn-action-ico {
		margin-right: 10px;
		flex-shrink: 0;
		&:last-child {
			margin-right: 0;
		}
	}
}
.title-inner-wrap {
	padding-top: 10px;
	text-align: center;
	margin-bottom: 15px;
	position: relative;
	z-index: 6;
}
.title-main-wrap {
	margin-bottom: 20px;
	text-align: center;
	margin-top: 5rem;
	&:first-child {
		margin-top: 0;
	}
	.title-decor {
		&:before {
			left: -0.4em;
			right: -0.4em;
		}
	}
}
.tabs-inner-wrap {
	display: block;
	position: relative;
	margin-bottom: 4.5rem;
	padding-top: 1rem;
	.menu {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 1.2rem;
		li {
			flex-shrink: 0;
		}
	}
}
.more-inner-wrap {
	text-align: center;
	padding-top: 1rem;
}
@media (max-width: 1099px) {
	.section-main-box {
		padding: 0 0 0 0;
		.header-box {
			margin: 0 0 0 0;
		}
		.menu-inner-wrap, .title-main-wrap, .tabs-inner-wrap, .slider-outer-wrap {
			margin-left: 0;
			margin-right: -20px;
		}
	}
}
@media (max-width: 1079px) {
	.header-box {
		.action-inner-wrap {
			padding-right: 0;
		}
	}
}
@media (max-width: 992px) {
	.action-box {
		.photo-inner-wrap {
			width: 50%;
		}
		.info-inner-wrap {
			padding-left: 3rem;
			font-size: 3rem;
		}
		.section-title {
			font-size: 2em;
		}
	}
	.section-slider-box .slider-collections .sl-wrap {
		width: 18rem;
	}
	.section-slider-box .slider-photos .sl-wrap {
		width: 24rem;
	}
	.section-tiles-box, .section-main-box {
		.slider-pagination {
			display: flex;
		}
		.ico-arrow {
			display: none;
		}
	}
	.section-main-box {
		.slider-outer-wrap {
			border-radius: 0;
			margin-left: calc(var(--paddingContainer) * -1);
			margin-right: calc(var(--paddingContainer) * -1 - 20px);
			padding-left: var(--paddingContainer);
			padding-right: var(--paddingContainer);
		}
	}
	
}
@media (max-width: 767px) {
	.section-main-box .menu-inner-wrap {
		font-size: 3rem;
		.btn-menu {
			padding: 0 10px;
		}
		.menu {
			margin: 0 -10px;
		}
	}
	.tiles-box {
		padding-top: 6rem;
	}
	.action-box {
		.info-inner-wrap {
			&:before {
				width: 230%;
			}
		}
	}
	.title-main-wrap {
		&.mobile-bg-full {
			.page-title:has(.title-decor) {
				padding: 0.3em;
				border-radius: 5rem;
				background: var(--clr-att);
				.title-decor {
					padding: 0;
					&:before {
						display: none;
					}
				}
			}
		}
	}
}
@media (max-width: 639px) {
	.tiles-box {
		.items-wrap {
			gap: 50px 0;
		}
		.item-wrap {
			width: 100%;
		}
	}
	.action-box {
		display: block;
		.photo-inner-wrap {
			width: 100%;
		}
		.info-inner-wrap {
			padding: 5rem 0 0 0;
			width: 100%;
			text-align: center;
		}
	}
	.bg-full-wrap {
		&.bg-violet {
			background-image: url(../img/bg-m.jpg);
		}
	}
}
@media (min-width: 640px) {
}
@media (min-width: 993px) {
	.section-tiles-box, .section-main-box {
		.sl-wrap {
			opacity: 0;
			pointer-events: none;
			transition: all ease 0.2s;
			&.swiper-slide-active, &.swiper-slide-active+.sl-wrap, &.swiper-slide-active+.sl-wrap+.sl-wrap, &.swiper-slide-active+.sl-wrap+.sl-wrap+.sl-wrap {
				opacity: 1;
				pointer-events: auto;
			}
		}
		.slider-pagination {
			display: none;
		}
	}
}

