/* ----------------------------------- *\
			fonts
\* ----------------------------------- */
@font-face {
    font-family: 'PF Din Text Comp Pro';
    src: url('../fonts/PFDinTextCompPro-Medium.woff2') format('woff2'),
        url('../fonts/PFDinTextCompPro-Medium.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PF Din Text Comp Pro';
    src: url('../fonts/PFDinTextCompPro-Medium.woff2') format('woff2'),
        url('../fonts/PFDinTextCompPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'PF Din Text Comp Pro';
    src: url('../fonts/PFDinTextCompPro-Medium.woff2') format('woff2'),
        url('../fonts/PFDinTextCompPro-Medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

